@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --main-nav-color: #181818;
    --main-nav-links-color: #696969;
    --fog-firm-color:rgb(0, 61, 118);
    --second-third-section-color: #181818;
    --first-section-color: #242424;
    --better-white-color: rgb(226, 226, 226);
}

*
{
  margin: 0px;
  padding: 0px;
  font-family: "poppins", FontAwesome, sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: var(--main-nav-color);
  font-family: "Poppins";
}

.nav-logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  display: flex;
}

.logoPicture {
  height: 50px;
  width: 50px;
  margin: auto;
  display: block;
}

.logoHeader {
  margin: 1em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  z-index: 2;
  float: left;
}

.nav-links li {
  list-style: none;
  z-index: 2;
}

.nav-links a {
  color: var(--main-nav-links-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.sign-in {
  margin-left: 1vw;
  color: var(--main-nav-links-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.875rem;
  display: none;
}

a:hover {
  color: white;
}

@media screen and (max-width: 1025px) {
  .nav-links {
    width: 50%;
  }
  .sign-in {
    width: 15%;
  }

  .logoHeader {
    font-size: 0.9375rem;
  }
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--main-nav-links-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'poppins', inherit; /* Important for vertical align on mobile phones */
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn:hover{
  color: var(--better-white-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--better-white-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #242424;
}

.dropdown:hover .dropdown-content {
  display: block;
}