body{
    background-color: #1b1b1b;
    color: var(--better-white-color)
}

.complete-container{
    text-align: center;
}

.far{
    color: #96D347;
    font-size: 6em;
    margin-top: 0.5em;
}

.complete-header{
    margin-top: 1.5em;
}

img{
    width: 20em;
    margin-right: 6em;
    height: auto;
}
